body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
label {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  text-wrap: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

section,
header,
footer {
  position: relative;
}

.router-link-active {
  text-decoration: underline;
}

.logo-text {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
